@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap");
@import './constants.css';

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: var(--bs-body-line-height);
  color: #212121;
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav-link {
  color: #212121;
  --bs-navbar-nav-link-padding-x: 1.7rem;
  --bs-navbar-nav-link-padding-y: 1.7rem;
}

main.home {
  padding-top: 13.4rem;
}

.fs-5 {
  font-size: calc(1.315rem + 0.78vw) !important;
  color: #7a7a7a;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.btn {
  width: 22rem;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  font-weight: 500;
  border-radius: var(--bs-btn-border-radius);
}

.btn-primary {
  background-color: var(--bs-btn-bg);
  color: var(--bs-btn-color);
  -webkit-transition: var(--bs-btn-bg) 0.3s, color 0.3s;
  transition: var(--bs-btn-bg) 0.3s, color 0.3s;
}

/* .text-secondary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
} */

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  /* line-height: 1.2; */
}

#home-heading {
  margin-top: 0;
}

h1 {
  margin-top: 0;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h4, .h4 {
  font-size: 2rem;
}

a {
  color: var(--bs-link-color);
  /* text-decoration: underline; */
}

.mb-5 {
  margin-bottom: 3.5rem !important;
}

.position-relative {
  position: relative !important;
}

.text-center {
  text-align: center !important;
}

.home .heading h1::after, .home .heading .h1::after {
  background: url("../images/underline-hand-multi.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  content: "";
  display: block;
  width: 100%;
  height: 33px;
  margin: 0.6rem auto 0;
}

h2 + p, .h2 + p {
  color: #7a7a7a;
}

.card {
  --bs-card-spacer-y: 0;
  --bs-card-spacer-x: 0;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: 0;
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: 0.375rem;
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: 0.375rem;
  --bs-card-cap-padding-y: 0;
  --bs-card-cap-padding-x: 0;
  --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: #fff;
  --bs-card-img-overlay-padding: 0;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}
.card-text {
  color: #a4a4a4;
}

/* .highlight::after {
  background: url("../images/ic-highlight.svg");
  content: "";
  width: 7.8rem;
  height: 4.6rem;
  position: absolute;
  right: auto;
  left: 12.7rem;
  top: -2.5rem;
}

.card-title {
  margin-bottom: 2.1rem;
} */


/* position: relative;
display: flex;
flex-direction: column;
min-width: 0;
height: var(--bs-card-height);
color: var(--bs-body-color);
word-wrap: break-word;
background-color: var(--bs-card-bg);
background-clip: border-box;
border: var(--bs-card-border-width) solid var(--bs-card-border-color);
border-radius: var(--bs-card-border-radius); */
/* } */

.d-block {
  display: block !important;
}

.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
}

.card img {
  margin-bottom: 1.7rem;
}

img, svg {
  vertical-align: middle;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.card .card-title.highlight {
  position: relative;
}

.highlight:after {
  content: "";
  background:red url("../images/ic-highlight.svg");
  width: 7.8rem;
  height: 4.6rem;
  position: absolute;
  right: auto;
  left: 12.7rem;
  top: -2.5rem;
}

.home-intro {
  margin-bottom: 6.7rem;
}

.home-product {
  margin-bottom: 6.7rem;
}

.home-product .container:last-child div[class^=col-]::before {
  background: url("../images/handrwritting-memmory-used.svg");
  content: "";
  width: 21.923rem;
  height: 5.12rem;
  position: absolute;
  right: 3.6rem;
  top: -4.9rem;
}

.home-product .container:last-child div[class^=col-]::after {
  background: url("../images/ic-waves.svg");
  content: "";
  width: 11.8rem;
  height: 1.6rem;
  position: absolute;
  right: 7.1rem;
  top: 2.8rem;
}

.home-product .container:last-child div[class^=col-] {
  position: relative;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.home-product h2, .home-product .h2 {
  margin-bottom: 1.8rem;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.home-product p {
  margin-bottom: 7.8rem;
}

.home-ux p {
  margin-bottom: 6.9rem;
}

.home-other {
  padding: 3.1rem 0 8.4rem;
}

.home-other h2, .home-other .h2 {
  position: relative;
  margin-bottom: 7.6rem;
}

.home-other h2::before, .home-other .h2::before {
  background: url("../images/handwritting-elipse.svg");
  content: "";
  width: 23.5rem;
  height: 9.8rem;
  position: absolute;
  left: calc(50% - 12.15rem);
  top: -2.4rem;
}

.home-other ul li {
  position: relative;
  padding-left: 3.7rem;
  margin-bottom: 2.4rem;
}

.home-other ul li::before {
  background: url("../images/ic-check.svg");
  content: "";
  width: 1.7rem;
  height: 1.6rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
}

.home-featured-our h2, .home-featured-our .h2 {
  position: relative;
  margin-bottom: 1.4rem;
}

.home-featured h2 + p, .home-featured .h2 + p {
  margin-bottom: 6.8rem;
  position: relative;
}

.home-featured-our h2::after, .home-featured-our .h2::after {
  background: url("../images/ic-asterix-hand.svg");
  content: "";
  display: block;
  width: 21px;
  height: 23px;
  position: absolute;
  right: -2.6rem;
  top: -0.8rem;
}

.home-featured .home-featured-row {
  background: #fafafa;
  padding: 3.4rem 1rem 4rem;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.home-featured .card .card-title {
  margin-bottom: 1.4rem;
  margin-right: 1.5rem;
}

.home-featured .project-services-icons img {
  margin-bottom: 1.4rem;
  margin-right: 0.6rem;
}

.home-featured .card {
  background: none;
}

p a {
  color: #7a7a7a;
}

.btn-outline-secondary.btn-tc::before {
  background: url("../images/ic-tc.svg");
  content: "";
  width: 3.2rem;
  height: 1.6rem;
  position: absolute;
  left: 2rem;
  top: 1.1rem;
}

@media (min-width: 768px) {
  .home .heading h1::before, .home .heading .h1::before {
    background: url("../images/ic-asterix-hand.svg");
    content: "";
    display: block;
    width: 21px;
    height: 23px;
    position: absolute;
    right: -1.5rem;
    top: -0.5rem;
  }
  
  .home .heading h1::after, .home .heading .h1::after {
    width: 417px;
  }
  
  .home .heading {
    margin-bottom: 16.7rem;
  }
  
  .h2, h2 {
    font-size: 3.5rem;
  }
  
  .card .card-title.highlight::after {
    right: -1.2rem;
  }
  
  .home-intro {
    margin-bottom: 17rem;
  }
  
  .home-product {
    margin-bottom: 17.4rem;
  }
  
  .home-other {
    padding-bottom: 11.1rem;
  }
  
  .home-featured-our {
    padding-top: 12.6rem;
  }
  
  .flex-md-row {
    flex-direction: row !important;
  }
  
  .home-featured .home-featured-row > div[class^=col-]:last-child .card {
    padding-right: 0;
    padding-left: 3.6rem;
    margin-bottom: 0;
  }
  
  .home-featured h2 + p::after, .home-featured .h2 + p::after {
    background: url("../images/handwritting-new.svg");
    content: "";
    width: 2.9rem;
    height: 2.9rem;
    position: absolute;
    right: 5.9rem;
    top: -3rem;
    left: auto;
  }
}

@media (min-width: 992px) {
  #header {
    padding-top: 4.5rem;
  }
  
  .mb-lg-12 {
    margin-bottom: 12rem !important;
  }
  
  .mb-lg-0 {
    margin-bottom: 0 !important;
  }
  
  .card {
    padding-right: 6.1rem;
  }
  
  .card .card-title.highlight::after {
    right: 1rem;
    left: auto;
  }
  
  h4, .h4 {
    font-size: 2.3rem;
  }
  
  .card img {
    margin-bottom: 3.7rem;
  }
  
  .home-product .container:last-child div[class^=col-]::after {
    right: 13.1rem;
    top: 4.8rem;
  }
  
  .home-featured .home-featured-row {
    padding: 3.4rem 8rem 4rem;
  }
}

@media (min-width: 1200px) {
  .home .heading h1, .home .heading .h1 {
    line-height: 10.4rem;
    margin-bottom: 6.1rem;
    font-size: 8rem;
  }
  
  .fs-5 {
    font-size: 1.9rem!important;
  }
  
  .h2, h2 {
    font-size: 4.3rem;
  }
  
  .card {
    padding-right: 6.1rem;
  }
  
  .card .card-title.highlight::after {
    right: 7.2rem;
  }
  
  .home-product .container:last-child div[class^=col-]::before {
    right: 4rem;
  }
  
  .home-product .container:last-child div[class^=col-]::after {
    right: 20.1rem;
  }
  
  h5, .h5 {
    font-size: 1.9rem;
  }
  
  h3, .h3 {
    font-size: 3.4rem;
  }
  
  .home-featured .home-featured-row > div[class^=col-]:last-child .card {
    padding-left: 12.6rem;
  }
}

@media (min-width: 1400px) {
  .card .card-title.highlight::after {
    right: 10.4rem;
  }
  
  .home-product .container:last-child div[class^=col-]::before {
    right: 10rem;
  }
  
  .home-product .container:last-child div[class^=col-]::after {
    right: 26.1rem;
  }
  
  .d-xxl-flex {
    display: flex !important;
  }
}
